<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestNGPack.TestNg1.DepositMoney"/>
      <class name="TestNGPack.TestNg1.SignupBt"/>
      <class name="TestNGPack.TestNg1.SignupPage"/>
      <class name="TestNGPack.TestNg1.Withdraw"/>
      <class name="TestNGPack.TestNg1.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
